.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px;
}


.card{
    width: 13rem;
    max-height: 20rem;
    margin-right:1.5rem;
    margin-bottom: 1.5rem;
    overflow: hidden;
    position: relative;
}
.poster img{
    width: 11rem;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.poster{
    justify-content: center;
    align-items: center;

}

.details{
    display: flex;
    justify-content: space-between;
    margin:0.5rem;
}
.description{
    font-size: large;
    color: black;
    font-weight: bolder;
}
.descript{
    transform: translateX(100%);
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    overflow: auto;
    padding: 10px;
}
.card:hover .descript{
    transform: translateX(0%);
    background-color: grey;
}
